@using SecretSanta.common.Enums

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--TODO fix titles-->
    <title>@ViewBag.Title</title>

    @Scripts.Render("~/bundles/_js") 
    @Styles.Render("~/bundles/_css")

    <script src="~/Scripts/common.js"></script>
    <link href="~/CSS/common.css" rel="stylesheet" />
    <link href="~/Other/Images/logo.jpg" rel="icon" />
</head>
<body>

    @if (ViewBag.Header != PartialStateEnum.none.ToString())
    {
        @Html.Partial("_Header")
    }

    <div class="container anime-bg">
        @RenderBody()
    </div>

    @if (ViewBag.Loader != PartialStateEnum.none.ToString())
    {
        @Html.Partial("_Loader")
    }

    @if (ViewBag.Footer != PartialStateEnum.none.ToString())
    {
        @Html.Partial("_Footer")
    }
</body>
</html>
