@model SecretSanta.Models.ListActionsModel

@{
    ViewBag.Title = "Create";
}

<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<link rel="stylesheet" href="~/Content/themes/base/all.css">

<script>
    let formUrl = "/api/ListActionsAPI";
    let mailUrl = "/api/Mail";
    let editPage = "@Url.Action("Edit")";
</script>

<script src="~/Scripts/create-edit.js"></script>
<script src="~/Scripts/create.js"></script>

<h2 class="hh">Create Secret Santa List</h2>
<div class="container col-md-10 hh">
    @using (Html.BeginForm("", "ListActionsAPI", FormMethod.Post, new { @class = "form" }))
    {
        <table class="table">
            <tr class="list-data">
                <td>
                    @Html.LabelFor(m => m.List.Name)
                    @Html.EditorFor(m => m.List.Name)
                </td>
                <td>
                    @Html.LabelFor(m => m.List.Time)
                    @Html.EditorFor(m => m.List.Time)
                </td>
            </tr>
            <tr>
                <th>Host</th>
                <th>Email</th>
                <th>Remove</th>
            </tr>
            <tr class="host-data user-data">
                <td>@Html.EditorFor(m => m.Users[0].Name) </td>
                <td>@Html.EditorFor(m => m.Users[0].Mail) </td>
                <td class="no-remove btn btn-success">Important</td>
            </tr>
            <tr>
                <th>Participants</th>
                <th>Emails</th>
            </tr>
            @for (int i = 1; i < Model.Users.Count; i++)
            {
                <tr class="user-data">
                    <td>@Html.EditorFor(m => m.Users[i].Name) </td>
                    <td>@Html.EditorFor(m => m.Users[i].Mail) </td>
                    <td class="remove btn btn-danger">Remove</td>
                </tr>
            }
        </table>
        <button class="add-user btn btn-success">Add User</button>
        <button class="btn btn-success btn-submit">Create Event</button>
    }
</div>