@model SecretSanta.Models.IndexModel

@{
    ViewBag.Title = "Home";
}

<script type="text/javascript">
    let loginUrl = "@Url.Action("_Login", "Home")";
    let registerUrl = "@Url.Action("_Register","Home")";
    let deleteUrl = "/api/ListActionsAPI"
</script>
<script src="~/Scripts/home-index.js"></script>

<div class="col-md-8 col-md-offset-1">
    <div class="wrapper">
        <h1 class="h1 row hh">Do you want to play secret santa with your friends? then welcome to our website</h1>
        <h3 class="hh">For creating a new game you can register or sign to your account and make your list of participants</h3>
    </div>
    <div class="wrapper">
        <h1 class="h1 row hh">About Secret Santa</h1>
        <h3 class="hh">The aim of the game is to randomly select a participant from your group and give a present to the person, whose identity is only known to you</h3>
    </div>
</div>

<div class="col-md-3 text-left">
    @if (Request.IsAuthenticated)
    {
        <h3> Welcome @User.Identity.Name</h3>
        <table class="table">
            <tr>
                <th>List Name</th>
                <th>Action</th>
            </tr>
            @foreach (var list in Model.Lists)
            {
                <tr>
                    <td>@list.Name</td>
                    <!--TODO style of .delete in new css file-->
                    <td><a href="~/ListActions/Edit/@list.ID">Edit</a> | <span class="delete text-danger" id="delete-@list.ID" style="cursor: pointer;">Delete</span></td>
                </tr>
            }
            <tr>
                <td>
                    <span class="btn btn-warning">@Html.ActionLink("Create New List", "Create", "ListActions", null, new { @class = "decor-none" })</span>
                </td>
            </tr>
        </table>
    }
    else if (Model.LoginModel is null && Model.RegisterModel is null)
    {
        <h3 id="h2-text"> You are not logged in</h3>

        <button id="btn-load-login">Login</button>
        <button id="btn-load-register">Register</button>
        <div id="for-partial"></div>
    }
    else
    {
        if (Model.LoginModel is null)
        {
            @Html.Partial("_Register", Model.RegisterModel)
        }
        else if (Model.RegisterModel is null)
        {
            @Html.Partial("_Login", Model.LoginModel)
        }
    }
</div>